@model Ouvidoria.Models.Manifestacao

@{
    ViewData["Title"] = "Encaminhar";
}

<style>
    .custom-file-input:lang(en) ~ .custom-file-label::after {
        content: "Procurar";
    }
</style>
<br />
<h3 class="text-center">Encaminhar Manifestação</h3>
<br />
<hr />
<form asp-controller="Manifestacao" asp-action="Encaminhar" method="post" asp-route-id="@Model.ManifestacaoId" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <h4 class="text-center">Manifestante</h4>
            <hr />
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Nome"></label>:
                @Html.DisplayFor(model => model.Nome)
                @Html.HiddenFor(model => model.Nome)
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Email"></label>:
                @Html.DisplayFor(model => model.Email)
                @Html.HiddenFor(model => model.Email)
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Perfil.Nome"></label>:
                @Html.DisplayFor(model => model.Perfil.Nome)
                @Html.HiddenFor(model => model.Perfil.Nome)
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="TipoSolicitacao.Nome"></label>:
                @Html.DisplayFor(model => model.TipoSolicitacao.Nome)
                @Html.HiddenFor(model => model.TipoSolicitacao.Nome)
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Telefone"></label>:
                @Html.DisplayFor(model => model.Telefone)
                @Html.HiddenFor(model => model.Telefone)
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Celular"></label>:
                @Html.DisplayFor(model => model.Celular)
                @Html.HiddenFor(model => model.Celular)
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Curso"></label>:
                @Html.DisplayFor(model => model.Curso)
                @Html.HiddenFor(model => model.Curso)
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Campus"></label>:
                @Html.DisplayFor(model => model.Campus)
                @Html.HiddenFor(model => model.Campus)
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Assunto"></label>:
                @Html.DisplayFor(model => model.Assunto)
                @Html.HiddenFor(model => model.Assunto)
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Detalhe"></label>:
                @Html.DisplayFor(model => model.Detalhe)
                @Html.HiddenFor(model => model.Detalhe)
            </div>
        </div>
        <div class="col">
            <h4 class="text-center">Referente ao Setor</h4>
            <hr />
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Setor.Nome"></label>:
                @Html.DisplayFor(model => model.Setor.Nome)
                @Html.HiddenFor(model => model.Setor.Nome)
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Setor.Email"></label>:
                @Html.DisplayFor(model => model.Setor.Email)
                @Html.HiddenFor(model => model.Setor.Email)
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Resposta</label>
                @if (Model?.Resposta?.Conteudo == string.Empty || Model?.Resposta?.Conteudo == null)
                {
                <textarea class="form-control text-left" style="min-height: 280px;" id="@Html.IdFor(m => m.Resposta.Conteudo)" name="@Html.NameFor(m => m.Resposta.Conteudo)">No dia @Model.CadastradoEm.ToShortDateString() a pessoa que atende pelo nome de @Model.Nome abriu uma manifestação referente ao seu setor, tendo como assunto o @Model.Assunto, pedimos encarecidamente que entre em contato o mais rapido possível com o manifestante através dos contatos fornecidos pelo mesmo:
Celular - @Model.Celular;
Telefone Fixo - @Model.Telefone;
E-mail - @Model.Email;
Abaixo também segue os detalhes fornecidos pelo autor da manifestação:

@Model.Detalhe

Atenciosamente</textarea>
                }
                else
                {
                    <textarea class="form-control text-left" style="min-height: 280px;" asp-for="Resposta.Conteudo"></textarea>
                }
                <span asp-validation-for="Resposta.Conteudo" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <div class="custom-file">
                    <input name="anexo" type="file" class="custom-file-input" id="customFileInput">
                    <label class="custom-file-label" for="customFile">Clique para anexar um arquivo</label>
                </div>
                <label class="text-center" style="width:100%" id="CustomFileName"></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label"></label>
        <div class="input-group">
            <div class="form-group" style="width: 50%">
                <button type="submit" class="btn btn-outline-primary btn-block">Enviar</button>
            </div>
            <div class="form-group" style="width: 50%">
                <a asp-controller="Manifestacao" asp-action="Index" class="btn btn-outline-danger btn-block">Voltar</a>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.ManifestacaoId)
    @Html.HiddenFor(model => model.TipoSolicitacao.TipoSolicitacaoId)
    @Html.HiddenFor(model => model.Perfil.PerfilId)
    @Html.HiddenFor(model => model.Setor.SetorId)
</form>
<script>
            $('#customFileInput').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                var filepath = fileName.split("\\");
                $("#CustomFileName").html(filepath[filepath.length - 1]);
            })
</script>